div.img{
    text-align:center;
    background: #666175;
    width: 500px;
    height: 643.431635px;
    margin-left: auto;
    margin-right: auto;
}

div.img img{
    opacity: 1.0;
    transition: opacity 1s;
}

div.img img:hover{
    opacity: 0.5;
    transition: opacity 1s;
}

@keyframes hovimg{
    from{
        opacity:1.0;
    }
    to{
        opacity:0.75;
    }
}