body {
	background-color: #EDE4DA;
	font-family: 'Quicksand', sans-serif;
}
	
.heade{
		margin-top:20px;
		margin-left: 150px;
}
	
.tracker {
	font-size: 15pt;
	margin-top: 15px;
	margin-bottom: 40px;
	border-radius: 10px;
	background: #F1EDE7;
	width: 360px;
	letter-spacing: 0.5px;
	margin-left:140px;
}

/*h1 {
	
}*/

.tracker>div {
	padding-left: 20px;
}

.tracker>div>a {
	color: black;
	text-decoration: none;
}

.tracker>div>a:hover{
	text-decoration: underline;
}
	
.na ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #F1EDE7;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}

.na li a {
	  display: block;
	  color: black;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  float: left;
}

	/* Change the link color to #111 (black) on hover */
.na li a:hover {
  background-color: #D6CEC2;
  color: black;
}
	
.act {
  background-color: #D6CEC2;
  color: black;
}
	
.grades {
    border-radius: 15px;
	background: #F1EDE7;
	width: 1228px;
	margin-bottom: 45px;
	margin-left: 120px;
	margin-right: auto;
	font-family: 'Quicksand', sans-serif;
}
	
table {
    font-family: 'Quicksand', sans-serif;
	  border-collapse: collapse;
	  width: 100%;
}

td{
  border: 1px solid #F1EDE7;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
	
th {
    padding: 30px;
	text-align: center;
	font-size: 25px;
}

tr:nth-child(even) {
    background-color: #F1EDE7;
}
	
.na{
	margin-bottom: 10px;
	border-radius: 0px;
	font-weight: bold;
	font-size: 17px;	
}
	
.fi{
	border
}

@media screen and (max-width: 768px) {
	
	.heade{
		margin-left: 105px;
}
	.tracker {
	margin-bottom: 35px;
	margin-left:105px;
}
	
	.na ul {
	width: 650px;
	margin-left: 90px;
	margin-right: auto;
	border-radius: 15px;
	text-align: center;

}

.na li a {
	  display: block;
	  color: black;
	  text-align: center;
	  padding: 5px 7px;
	  font-size:13px;
}
	
	.grades {
	width: 650px;
	margin-bottom: 36px;
	margin-left: 90px;
	margin-right: auto;
}
	table {
    font-family: 'Quicksand', sans-serif;
	  border-collapse: collapse;
	  width: 600px;
}

	td{
	  border: 1px solid #F1EDE7;
	  padding: 10px;
	  font-size: 15px;
	}
		
	th {
		padding: 16px;
		font-size: 18px;
	}
}

@media screen and (max-width: 360px) {
	.heade{
	margin-left: 15px;
	font size: 20px;
}
	.tracker {
	width:275px;
	text-align: left;
	font-size:15px;
	margin-bottom: 35px;
	margin-left:14px;
}
	
	.na ul {
	width: 267px;
	margin-left: 35px;
	margin-right: auto;
	text-align: center;

}

.na li a {
	  display: block;
	  color: black;
	  text-align: center;
	  padding: 5px 10px;
	  font-size:10px;
}
	
	.grades {
	width: 325px;
	margin-bottom: 36px;
	margin-left: 15px;
	margin-right: auto;
}
	table {
    font-family: 'Quicksand', sans-serif;
	  border-collapse: collapse;
	  width: 325px;
}

	td{
	  border: 1px solid #F1EDE7;
	  padding: 5px;
	  font-size: 10px;
	}
		
	th {
		padding: 5px;
		font-size: 10px;
	}
}

	
	

}