body{
	width:100%;
	height:100%;
}

.profile1 {
	border-radius: 15px;
	background: #F1EDE7;
	width: 400px;
	padding: 15px;
	margin-bottom: 45px;
	margin-left: 100px;
	margin-top: 25px;
	font-family: 'Quicksand', sans-serif;
	float: left;
	text-align: center;
	}

.about1 {
	margin-left: 250px;
}
