/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #E3DACE;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d4c5b4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a49584;
}

/* Body - Subjects */

body {
    margin: 0px !important;
    padding: 0px !important;
    background-color: #EDE4DA;
}

header {
    font-family: 'Outfit', sans-serif !important;
    font-size: 40px;
}

header div,
header figure {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

header figure:first-child {
    top: 5px;
    margin-left: 30px;
    color: #a19595;
}

header figure:nth-child(2) {
    padding-left: 5px;
}

header figure:first-child button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

header figure img {
    height: 50px;
}

.padding {
    min-height: 80px;
}

a {
    color:inherit;
    text-decoration: none;
}

.headz figure {
    margin-left: 10px !important;
}

/******----------------------*********/

section {
    padding-left: 75px;
    padding-right: 10px;
    height: 250px;
    margin-bottom: 15px;
    font-family: 'Quicksand', sans-serif;
}

.wt {
    width: 23.5%;
    height: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    display: inline-block;
    background-color: #fff7ed;
    transition-duration: 0.2s;
    transition-property: box-shadow;
    transition-timing-function: ease;
    box-shadow: 0px 0px 0px 0px #807870;
}

.wt:hover {
    box-shadow: 0px 0px 4px 2px#807870;
}


.desc {
    transform: translateY(55%);
}

.wt{
    display: none;
}

section div:not(section div:first-child) {
    margin-left: 1%;
}

.uwt{
    height: 35%;
}

.purr {
    height: 100%;
    width: 100%;
}

.subj {
    font-size: 18px;
    position: relative;
    left: 15px;
    top: 5px;
}

.banana {
    font-size: 13px;
    width: 50%;
}


.subj a:hover, .desc a:hover, .slay a:hover{
    text-decoration: underline;
}

.uwt>figure {
    left: calc(100% - 70px);
    top: calc(-1 * (60px / 2));
    position: relative;
    overflow: hidden;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}

@media only screen and (min-width: 1200px){
    section {
        padding-left: 80px;
        padding-right: 10px;
        height: 300px;
        margin-bottom: 20px;
    }

    .wt {
        border-radius: 20px;
        margin-bottom: 20px;
    }
    
    .uwt>figure {
        left: calc(100% - 100px);
        top: calc(-1 * (90px / 2));
        width: 90px;
        height: 90px;
    }
    
    .subj {
        font-size: 25px;
        top: 10px;
    }
    
    .banana {
        font-size: 17px;
    }

    .desc {
        top: -75px !important;
        font-size: 16px !important;
    }
}

@media only screen and (min-width: 1900px) {
    section {
        padding-left: 85px;
        padding-right: 10px;
        height: 500px;
        margin-bottom: 35px;
    }

    .wt {
        border-radius: 25px;
        margin-bottom: 35px;
    }

    .uwt>figure {
        left: calc(100% - 150px);
        top: calc(-1 * (140px / 2));
        width: 140px;
        height: 140px;
    }

    .subj {
        font-size: 43px;
        top: 10px;
    }

    .banana {
        font-size: 25px;
        margin-left: 10px;
    }

    .desc {
        top: -120px !important;
        font-size: 30px !important;
    }
}

.tchicon>img {
    width: 100%;
}

.wt .wt.desc {
    position: relative;
    top: -65px;
    left: 20px;
    z-index: 2;
    font-size: 13px;
}