#header{
    height: 20vw;
}

#header>img{
    margin-top: 2.5%;
}

.card{
    width: calc(50% - 2vw);
}

.card-img{
    margin: calc(((100vw - 3.701vw) / 2 - 1.680vw) * 0.05);
    max-height: calc(((100vw - 3.701vw) / 2 - 1.680vw) * 0.9);
}

.card-name{
    font-size: 5vw;
}

.card-price{
    font-size: 4vw;
}

.card-button>button{
    font-size: 3.5vw;
}

.form, .order-box{
    width: 100%;
    display: block;
}

.form{
    margin-left: 0%;
    margin-top: 10px;
}

.order-box{
    margin-right: 0%;
}

.form, input {
    font-size: 4vw;
}

.order-box{
    height: 40vw;
}

.cart-item {
    font-size: 3.5vw;
}

.product-name {
    font-size: 4vw;
}

#godown{
    bottom: 0px;
    left: 0px;
    right: auto;
    font-size: 4vw;
}

#searchResult>div{
    width: calc((100vw - 28px));
    display: block;
}

#navbar{
    height: 6vw;
}

#navbar>div>div{
    min-width: 60vw;
    height: 8vw;
}

#header2{
    padding: 3vw;
    padding-bottom: 0px;
    font-size: 8vw;
}

#modal{
    padding-bottom:5vh;
    padding-top:5vh;
    height: 90vh;
}

#item-modal{
    width: 80vw;
    height: 90vh;
    overflow: hidden;
}

#item-image{
    display: block;
    width: 80vw;
    height: 80vw;
}

#item-image>img{
    width: 100%;
}

#modal-content{
    display: block;
    height: 75%;
    width: 90%;
    margin-left: 5%;
}

#item-name{
    font-size: 6vw;
}

#item-price{
    font-size: 4vw;
}

#add-btn, #minus-btn, #modal-content>button{
    font-size: 4vw;
    width: calc(4.5vw + 6px);
    height: calc(4.5vw + 6px);
}

#modal-content>button{
    width:auto;
    margin-top: 1vw;
}

#number-box{
    font-size: 4vw;
    height: 4.5vw;
}