.card{
    width: calc(25% - 1.80vw);
}

.card-img{
    margin: calc(((100vw - 3.701vw) / 4 - 1.680vw) * 0.05);
    max-height: calc(((100vw - 3.701vw) / 4 - 1.680vw) * 0.9);
}

.card-name{
    font-size: 2.75vw;
}

.card-price{
    font-size: 2.5vw;
}

.card-button>button{
    font-size: 2vw;
}

.form, .order-box{
    width: 48.75%;
}

.form{
    margin-left: 1.25%;
}

.order-box{
    margin-right: 1.25%;
}

.form, input {
    font-size: 2.3vw;
}

.order-box{
    height: 27.5vw;
}

.cart-item {
    font-size: 2vw;
}

.product-name {
    font-size: 2.3vw;
}

#navbar{
    height: 4vw;
}

#navbar>div>div{
    min-width: 35vw;
    height: 4vw;
}

#header2{
    padding: 2vw;
    font-size: 7vw;
}