/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #E3DACE;
}

::-webkit-scrollbar-thumb {
    background: #d4c5b4;
}

::-webkit-scrollbar-thumb:hover {
    background: #a49584;
}

body {
    margin: 0px !important;
    padding: 0px !important;
    background-color: #EDE4DA;
}

/*trackinst*/	
.trackinst {
	margin-left: 140px;
	margin-right: 72px;
	font-family: 'Quicksand', sans-serif;
}

.tracker {
	font-size: 15pt;
	margin-top: 10px;
	margin-bottom: 40px;
	border-radius: 10px;
	background: #F1EDE7;
	width: 840px;
	letter-spacing: 0.5px;
}

.tracker>div {
	padding-left: 20px;
}

.tracker>div>a:hover{
	text-decoration: underline;
}

.instructions {
	border-radius: 15px;
	background: #F1EDE7;
	padding: 20px;
	width: 1228px;
	padding-bottom: 45px;
}

.inssubtitle, .institle {
	margin-bottom: 15px;
}


.inst{
	margin-bottom: 45px;
}

.inst>ol{
	margin-bottom: 40px;
}

.time {
	font-size: 15pt;
	text-align: center;
}

.inst>ol>li{
	font-size: 14pt;
	margin-bottom: 15px;
}

.but {
	text-align: center;
}

.start {
	text-align: center;
	padding: 10px 15px 10px 15px;
	border: none;
	transition-duration: 0.3s;
	cursor: pointer; 
	text-decoration: none;
	border-radius: 4px;
	background-color: #D65D53;
	color:#FFF7ED;
	font-weight: bold;
	font-size: 15pt;
	
}

.start:hover {
	background-color: #9D6C68;
}

@media only screen and (max-width:768px){

.trackinst {
    margin-left: 140px;
	width: 100%;
}

.tracker {
	font-size: 17pt;
	margin-top: 10px;
	margin-bottom: 40px;
	padding-left: 10px;
	border-radius: 10px;
	background: #F1EDE7;
	width: 556px;
	text-align: left;
	
}

.instructions {
	border-radius: 15px;
	background: #F1EDE7;
	padding: 20px;
	width: 556px;
	padding-bottom: 45px;
}


}